.MAIN {
    background: lightblue;
    text-align: center;
    color: BLACK;
    font-family: "Verdana";
    font-family: "Arial";
    font-size: 40px;
    font-weight: bold;
    font-style: italic;

}